<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.developer.ecommerce.channel.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTeamsProject"
        tools:targetApi="31">
        <service
            android:name="android.developer.ecommerce.service.SoundOrderSuccessService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name="android.developer.ecommerce.activity.OBJ_manager.ManageHiddenProductActivity"
            android:exported="false"
            android:parentActivityName="android.developer.ecommerce.activity.OBJ_manager.ManagerActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.OBJ_manager.ManagerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.OrderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.CartActivity"
            android:exported="false"
            android:parentActivityName="android.developer.ecommerce.activity.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.ProductActivity"
            android:exported="false"
            android:parentActivityName="android.developer.ecommerce.activity.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.LoginActivity"
            android:exported="false"
            android:parentActivityName="android.developer.ecommerce.activity.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.SignupActivity"
            android:exported="false"
            android:parentActivityName="android.developer.ecommerce.activity.LoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="android.developer.ecommerce.activity.SlashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>